{% load staticfiles %}

{% load static %}

{% load i18n %}

{% load compress %}

<!DOCTYPE html>
<html>
<head>
        {% compress css %}
        <link href="{% static 'css/startmin.css' %}" rel="stylesheet">
            <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="{% static 'css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">


        <!-- Timeline CSS -->
        <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static 'css/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        {% endcompress %}

        
<title>{% block title %}Mobile Score Portal{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-mobile-phone fa-lg fa-fw fa-pull-left"></i>MobileScore</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <!--<li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>-->
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ request.user.username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% if user.is_authenticated %}
                    <li class="divider"></li>
                    <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Log Out</a>
                    </li>
                    {% else %}
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'auth_login' %}"><i class="fa fa-sign-in fa-fw"></i> Log In</a>
                    </li>
                    {% endif %}

                </ul>
            </li>
        </ul>
    </nav>

    {% endblock %}
    </div>

    <div id="content">
    {% block content %}
     {% if user.is_authenticated %}

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> MobileScore Intel<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'orders' %}"><i class="fa fa-first-order fa-fw"></i>Orders</a>
                            </li>
                            
                        </ul>
                        
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'purchase' %}"><i class="fa fa-shopping-cart fa-fw"></i>Purchase Credits</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
<!--Sidebar End-->

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-hourglass-2 fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="credit_balance">0</div>
                                        <div>Credits Balance</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Show Balance</span>
                                    <span class="pull-right"><i class="fa fa-balance-scale"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ completed_orders }}</div>
                                        <div>Completed Orders</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Orders</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-first-order fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ total_orders }}</div>
                                        <div>Total Orders</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-gift fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>Rebates Earned</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Redeem Rebates</span>
                                    <span class="pull-right"><i class="fa fa-thumbs-up"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

    </div>

    {% else %}

<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Welcome To MobileScore Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>


       
        {% endif %}



    {% endblock %}
    </div>



    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>

    {% compress js %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>

    <script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/startmin.js' %}"></script>


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
            
            $(document).ready(function() {

                //activates DataTable ordering by the second column (Order DateTime)
                $('#dataTables-orders').DataTable({
                        "order": [[ 1, "desc" ]], responsive: true
                });
                //Global Variable label
                var label = [$('label[for="mobile-number"]'),$('label[for="document-number"]')];

                //Variables for Dashboard Balance Query
                var bal_query = { orderID: '10897', operation: 'BALANCE' };

                //BalanceQuery API
                $.ajax({
                            url: "{% url 'balance' %}",
                            data: JSON.stringify(bal_query),
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType : "json",

                            success: function(json) {
                                console.log("Success");
                                $('#credit_balance').html(JSON.parse(json.availableBalance));      
                            },
                            error: function(json) {
                                console.log( "Sorry, there was a problem!");
                                console.log(JSON.stringify(bal_query));
                            }
                        });


                //POST the Order Form
                $('#order-form').on('submit', function(e) {
                    var form_data = $("#order-form").serializeArray();
                    var error_free = [true, true];
                    
                    for (var input in form_data){
                        var element=[$("#mobile-number"),$("#document-number")];
                        var valid = [element[0].hasClass("valid"), element[1].hasClass("valid")];

                        if (!valid[0]){
                            error_free[0] = false;
                        }
                        if (!valid[1]){
                            error_free[1] = false;
                        }
                    }

                    
                    if ((!error_free[0]) || (!error_free[1])){

                        if (!error_free[0]){
                            e.preventDefault();
                            label[0].show();
                        }
                        if(!error_free[1]){
                            e.preventDefault();
                            label[1].show();
                        } 

                    }

                    else{
                        console.log("No errors");

                        e.preventDefault();
                        label[0].hide();
                        label[1].hide();
                        var form = $(this);
                        var datax = form.serialize();
                        console.log(datax);

                        $.ajax({
                            url: "{% url 'order' %}",
                            data: form.serialize(),
                            type: "POST",
                            dataType : "json",

                            success: function() {
                           //Clear the Modal

                                $('.modal').on('hidden.bs.modal', function(){
                                    $(this).find('form')[0].reset();
                                });
                                $('#myModal').modal('hide');
                                    console.log("Order Created Successfully");
                                //Reload the Page
                                    document.location.reload(true);
                            },
                            error: function() {
                                console.log( "Sorry, there was a problem!");
                            }
                        });
                        json = '';
                        return false;
                    }

                });
                //Focus cursor
                $("#mobile-number").focus();
                //Validate the Mobile Number
                $('#mobile-number').on('input', function() {
                    var input=$(this);
                    var regex_mobile = /^2547[0-9]{8,8}$/;
                    var is_mobile=regex_mobile.test(input.val());
                    if(is_mobile){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                         label[0].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                }); 


                //Validate the Dccument Number
                $('#document-number').on('input', function() {
                    var input=$(this);
                    var regex_document = /^(?!^0+$)[a-zA-Z0-9]{7,8}$/;
                    var is_document=regex_document.test(input.val());
                    if(is_document){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[1].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });

                //Focus cursor
                $("#numberInput").focus();
                //Integers Validation
                $("#numberInput").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                        $("#errmsg").html("Integers Only").show().fadeOut(2000);
                        return false;
                    }
                });

                //Credits Calculator
                var quantity=$("#numberInput");
                quantity.on('keyup',function(){
                    var total=isNaN(parseFloat(quantity.val()* $("#priceInput").val())) ? 0 :(1+ parseFloat($("#taxInput").val()/100))* parseFloat((quantity.val()* $("#priceInput").val()));
                    $("#totalInput").val(total.toFixed(2));
                });

                //Print Button to produce PDF
                {% if details.id %}
                $('#print-report').on('click', function() {
                    window.open("{% url 'report' details.id %}");
                });
                {% endif %}         
            
            });

                

                





    </script> 

    {% endcompress %}

</body>

</html>