

{% extends "base2.html" %}
{% load i18n %}

<div id="content">
    {% block content %}
         {% if user.is_authenticated %}
        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> MobileScore Intel<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'orders' %}"><i class="fa fa-first-order fa-fw"></i>Orders</a>
                            </li>
                            
                        </ul>
                        
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'purchase' %}"><i class="fa fa-shopping-cart fa-fw"></i>Purchase Credits</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
<!--Sidebar End-->
    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{ details.id }} - {{ details.mobile_number }} <button type="submit" class="btn btn-primary btn pull-right" id ="print-report"><i class="fa fa-print"></i> Print Report</button></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Score for {{ details.subscriber_firstname }} {{ details.subscriber_lastname }}
                            </div>

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Score Parameters</th>
                                                <th>Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Probability of Default</th>
                                                <td>{{ details.probability_default }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Assignable Lower Limit</th>
                                                <td>{{ details.lower_limit }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Assignable Upper Limit</th>
                                                <td>{{ details.upper_limit }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Algorithm Used</th>
                                                <td>{{ details.algorithm_id }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                     <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Details of Order # {{ details.id }}
                            </div>

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order Parameters</th>
                                                <th>Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Order Status</th>
                                                <td>{{ details.order_status }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Order Create Date</th>
                                                <td>{{ details.order_datetime }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Order Update Date</th>
                                                <td>{{ details.order_udatetime }}</td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->



                </div>


            </div>
    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Welcome To MobileScore Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
    {% endif %}

    {% endblock %}
</div>

