

{% extends "base2.html" %}
{% load i18n %}

 <div id="content">
    {% block content %}
     {% if user.is_authenticated %}
        <!-- Sidebar -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> MobileScore Intel<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'orders' %}"><i class="fa fa-first-order fa-fw"></i>Orders</a>
                            </li>
                            
                        </ul>
                        
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'purchase' %}"><i class="fa fa-shopping-cart fa-fw"></i>Purchase Credits</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
<!--Sidebar End-->

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Orders</h1>
                         
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> New Order</button>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-orders">
                                        <thead>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <th>Order Query Date</th>
                                                <th>Order Update Date</th>
                                                <th>Order Status</th>
                                                <th>Qualify Rebate</th>
                                           <!--        <th>Probability Default</th>  Added -->
                                            </tr>
                                        </thead>
                            
                                        <tbody>

                                            {% for organization_order in organization_orders %}
                                            <tr class="{% cycle 'odd gradeA' 'even gradeA' %}">
                                                <td><a href="{% url 'detail' organization_order.id %}">{{ organization_order.mobile_number }}</a></td>
                                                <td>{{ organization_order.order_datetime }}</td>
                                                <td>{{ organization_order.order_udatetime }}</td>
                                                <td>{{ organization_order.order_status }}</td>
                                                <td>{{ organization_order.order_rebate_status }}</td>
                                        <!--       <td>{{ organization_order.mobile_number.probability_default }}</td>   Added -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.table-responsive -->
                                <div class="well">
                                    <h4>Terms and Conditions</h4>
                                    <p><a href="http://mobilescore.co.ke/docs/Terms_Of_Service_For_Business.pdf" target="_blank">Click Here</a>.</p>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <!-- /#page-wrapper -->


            <!-- Modal -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="post" action="." class="form-horizontal" role="form" id="order-form">
                    {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Request Mobile Score</h4>
                  </div>
                  
                <div class="modal-body">
                    
                    <div class="input-group">
                        {% for requester in organization_requester %}
                        <span class="input-group-addon" id="basic-addon1">Requester</span>
                        <input type="text" class="form-control" id="organization-requester-name" aria-describedby="basic-addon1" value="{{ requester.organization_name }}" disabled/>
                        <input type="hidden" class="form-control" id="organization-requester" value="{{ requester.id }}" name="organization"/>
                        {% endfor %}
                    </div>
                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Mobile No.</span>
                        <input type="text" class="form-control" placeholder="2547XXXXXXXX" id="mobile-number" name="mobile_number" aria-describedby="basic-addon2" value=""/>
                    </div>
                    
                    <label class="text-danger" for="mobile-number" id="err_mobile_number" hidden>Enter a valid mobile number</label>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Document Type</span>
                        <select class="form-control" id="document-type" name="document_type" aria-describedby="basic-addon3">
                            <option value="NATIONAL ID">National ID</option>
                            <option value="PASSPORT">Passport</option>
                        </select>
                    </div>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Document Number</span>
                        <input type="text" class="form-control" placeholder="ID Number or Passport Number" id="document-number" name="document_number" aria-describedby="basic-addon4" value=""/>
                        
                    </div>

                    <label class="text-danger" for="document-number" id="err_document_number" hidden>Enter a valid document number</label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
                </div>
              </div>
            </div>

          

            <!--Modal-->

    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Welcome To MobileScore Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
        {% endif %}



    {% endblock %}
    </div>