{% extends "base2.html" %}

{% load i18n %}


{% block content %}


<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
<div class="container">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Log In</div>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form method="post" action="." class="form-horizontal" role="form">
                {% csrf_token %}
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">
                </div>
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name="password" value="" placeholder="password">
                </div>
                <div class="input-group">
                    <div class="checkbox">
                    <label>
                        <input id="login-remember" type="checkbox" name="remember" value="1">Remember me
                    </label>
                    </div>
                </div>
                <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-12 controls">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Log In' %}" />
                </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="font-size: 100%;">{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></div>
                    </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}



