{% extends "base2.html" %}
{% load i18n %}

{% block content %}

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
                        <h1 class="page-header"></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Logged Out
                            </div>
                            <div class="panel-body">
                                <p><h4>You have {% trans "Logged out" %}. <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

{% endblock %}


