{% extends "base2.html" %}

{% load i18n %}


{% block content %}
<div id="page-wrapper">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
 <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Change Your Password</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="." role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> -->
                                        
                                        
                                            {% csrf_token %} 
                                            {{ form.as_p }}

                                            <input type="submit" value="{% trans 'Submit' %}" />


                                        
                                        

                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
