{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="page-wrapper">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
<div class="row">
                    <div class="col-lg-12">
{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}


</div>
</div>
</div>

{% endblock %}