
{% extends "base2.html" %}
{% load i18n %}

{% block content %}
<div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Password Changed
                            </div>
                            <div class="panel-body">
                                <p><h4>Password changed successfully</h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

        </div>
{% endblock %}




